* {
    background-color: pink;
    color: purple;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


/* for cell phones */
img screen and (max-width: 2000px) {
    width: 500px;
    height: auto;
}

/* for computer screens */
img {
    height: 500px;
    width: auto;
}